[mysqld]
server-id=1
character-set-server=utf8
collation-server=utf8_general_ci
default-time-zone='+00:00'
local_infile=1
max_allowed_packet=100M
sql_mode=NO_ENGINE_SUBSTITUTION
innodb_file_format=Barracuda
innodb_file_per_table=1
innodb_flush_log_at_trx_commit=1
innodb_flush_method=O_DIRECT
binlog_format=ROW
log-bin=db
sync_binlog=1
performance_schema=1
userstat=1
log_output=TABLE
