[client]
socket = /mnt/db/mariadb.sock

[mysqld]
bind_address = 0.0.0.0
port = 3306
user = vagrant
socket = /mnt/db/mariadb.sock
pid_file = /mnt/db/mariadb.pid

datadir = /mnt/db/data
log_error = /mnt/db/logs/error.log
slow_query_log = ON
slow_query_log_file = /mnt/db/logs/slow.log
log_slow_verbosity = explain
log_output = FILE
slow_launch_time = 5

plugin_maturity=alpha
plugin_load_add = ha_s3
plugin_load_add = disks
plugin_load_add = ha_columnstore.so
plugin_load_add = server_audit
plugin_load_add = ha_connect


server_id = 1
log_bin = binlog
max_allowed_packet = 32M
innodb_buffer_pool_size = 1G
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci
local_infile = 1
open_files_limit = 65535
query_cache_size = 0
query_cache_type = 0
query_cache_limit = 0
binlog_format = ROW

userstat = 1

server_audit_logging = ON
server_audit = FORCE_PLUS_PERMANENT
server_audit_file_path = /mnt/db/logs/audit.log

init_connect = "CALL auth.check_user_access();"